#card {
      background: linear-gradient(to top, rgb(246, 253, 221), rgb(38, 38, 97));
      box-shadow: 3px 3px 10px rgb(49, 49, 49);
      opacity: 0.8;
      font-family: 'Inter Tight', sans-serif;
      border: 1px solid rgb(213, 227, 241);
}